@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    background-color: #7d8661;
    color: #F5EEDC;
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
}
div li{
    font-size: 18px;
}



img{
    height: 311px;
    width: auto;
}

.book{
    height: 100px;
    width: auto;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
    flex-wrap: wrap;


}

.finance-investment div,
.start-up div,
.self-improvement div{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 215px;
    text-align: center;
}

.finance-investment, 
.start-up, 
.self-improvement{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e3b52;
    
}


