@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
}
div li{
    font-size: 18px;
}

img{
    height: 311px;
    width: auto;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 60px;
    flex-wrap: wrap;

}

.finance-investment div,
.start-up div,
.self-improvement div{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 215px;
    text-align: center;
}

.finance-investment, 
.start-up, 
.self-improvement{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em 1em;
    background-color: #221f1f;
    color: #db0000;
    
}

.content-1{
    display:flex;
    align-items: center;
    flex: 1;
        justify-content:center;
}

header h1{
    font-size: 25px;
    
}

.content-1 h1{
    padding: 0;

}

.title{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin: 0px;
}   